.ant-card-meta-description {
  line-height: 1.5rem;
  max-height: 6rem;
}

.post-content {
  line-height: 1.5rem;
  max-height: 4.5rem;
  overflow: hidden;
}

.loadingSpinerContainer {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
